body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Light background color */
}

header {
    background-color: #4682b4; /* Blue header */
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

nav {
    background-color: #1e90ff; /* Light blue for navigation */
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    padding: 20px;
}

.motto {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin: 20px 0;
}

footer {
    background-color: #4682b4;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
html {scroll-behavior: smooth;}
#practice-questions {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: none; /* Hide by default */
}

#show-questions-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    cursor: pointer;
}

#show-questions-btn:hover {
    background-color: #45a049; /* Darker green on hover */
}